@use "./variables" as *;
@use "./mixins" as *;

@mixin footerCode {
  background-color: $BandSite-Black;
  padding: 2rem 2rem;
  color: white;

  @include tablet {
    padding: 4rem 0;
  }

  //   Modifying the size of footer header
  &__h2 {
    font-size: 2.4rem;
    font-weight: 600;
    @include tablet {
      font-size: 3.6rem;
      font-weight: 600;
    }
  }

  //Modifying the social images
  &__images {
    display: flex;
    width: 13rem;
    height: 4.5rem;
    justify-content: space-between;
  }

  //  Asjusting the header and images to be aligned
  &__contents {
    display: flex;
    flex-direction: column;
  }

  //  Styling the paragraphs
  &__paragraphs {
    margin: 1.5rem 0;
    font-size: 1.3rem;

    &--styling {
      font-weight: 600;
    }
  }

  // The social images
  img {
    margin-top: 2rem;

    @include tablet {
      margin: 0;
      padding: 1.5rem 1.5rem;
    }
  }

  //   The Bansite h2 at the bottom for the mobile
  &__bottom-h2 {
    font-weight: normal;
    margin-top: 5rem;

    // removed the bottom BANDSITE for the tablet and desktop
    @include tablet {
      display: none;
    }
  }

  // the paragraphs container
  &__info {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
    @include desktop {
      width: 65%;
    }
  }

  //   Wrapping the paragraphs
  &__paragraphs-wrapper {
    @include tablet {
      display: flex;
      flex-direction: column;
      margin: 2rem 0;
    }
  }

  //   The main wrapper, which i gave max-width so that the position reamins the same
  &__big-wrapper {
    max-width: 87%;
    @include tablet {
      margin: 0 3.6rem;
    }
    @include desktop {
      margin: 0 12rem;
      max-width: 1044px;
      margin: auto;
    }
  }

  //   this is for the top line of the footer
  &__wrapper {
    @include tablet {
      display: flex;
      align-items: center;
      gap: 2rem;
      width: 73rem;
    }

    @include desktop {
      width: 100%;
      justify-content: space-between;
    }
  }
  // removed the bandsite for mobile
  &__bandsite {
    font-size: 2.4rem;
    font-weight: 400;

    @include mobile {
      display: none;
    }
  }

  // modifying the header and icons wrapper
  &__header-icons {
    @include tablet {
      display: flex;
      gap: 2rem;
    }
  }

  //  this is for the top bandsite header
  &__bandsite-wrapper {
    @include tablet {
      padding-left: 19.5rem;
    }
    @include desktop {
      padding-left: 42rem;
    }
  }
}
