@use "./variables" as *;
@use "./mixins" as *;

@mixin galleryCode {
  background-color: $mercury;
  @include tablet {
    padding: 1.6rem 0;
  }

  // The title 'Photo Gallery'
  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-top: 2rem;

    @include tablet {
      font-size: 3.6rem;
      padding-left: 3.6rem;
      padding-top: 0;
    }
    @include desktop {
      padding: 5rem 0;

      max-width: 1044px;
      margin: auto;
    }
  }

  // wrapper for the pictures
  &__wrapper {
    margin: 0 2rem;
    @include tablet {
      margin: 0 3.6rem;
    }

    @include desktop {
      margin: 0 18rem;
    }
  }

  &__picture {
    @include desktop {
      height: 50rem;
    }
  }

//   div clas for the images
  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

//   Each image
  &__img {
    width: 28rem;
    padding-bottom: 2rem;
    @include tablet {
      width: 31%;
      display: flex;
      justify-content: space-around;
    }
  }

//    Making the heading and image wrapper to have a max width
  &__heading,
  &__wrapper {
    max-width: 100%;
    @include desktop {
      max-width: 1044px;
      margin: auto;
    }
  }
}
