@use "./variables" as *;
@use "./mixins" as *;

@mixin headerCode {
  background-color: $BandSite-Black;
  color: $white;
  width: 100%;

  //  the header wrap
  &__wrap {
    @include tablet {
      display: flex;
      margin-left: 5rem;
      height: 10rem;
      align-items: center;
    }

    @include desktop {
      margin-left: 12rem;
      display: flex;
      align-content: center;
      max-width: 1044px;
      margin: auto;
    }
  }

  &__title {
    display: flex;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.2rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: normal;

    @include mobile {
      align-items: flex-end;
    }

    @include tablet {
      font-size: 3.6rem;
    }
  }

  //   wrapping the subheading 'Biography' and 'shows'
  &__subheading {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;

    font-size: 1.4rem;

    @include tablet {
      justify-content: space-evenly;
      width: 30rem;
    }
  }

  //   Biography heading
  &__h3-bio {
    font-weight: 600;
    color: white;
    width: 50vw;
    display: flex;
    justify-content: center;
    @include tablet {
      width: auto;
    }
  }
  //   'Shows' subheading
  &__h3-shows {
    font-weight: normal;
    color: $mercury;
    width: 50vw;
    display: flex;
    justify-content: center;

    @include tablet {
      width: auto;
    }
  }

  // this is the links
  &__link {
    text-decoration-line: none;
    width: auto;
    display: flex;
    align-items: center;
    &--bio {
      border-bottom: 3px white solid;
      @include tablet {
        border-bottom: 3px white solid;
      }
    }
  }

  //   this is for the top title Bandsite
  &__title-link {
    text-decoration: none;
    color: white;
  }
}
