@use "./variables" as *;
@use "./mixins" as *;

@mixin heroCode {
  height: 20rem;
  width: 100%;
  background-image: url("../Assets/Images/hero-bio.jpg");
  background-position: center;
  background-size: cover;

  @include tablet {
    height: 45rem;
    background-position: center;
    background-size: cover;
  }
  @include desktop {
    height: 55rem;
  }

  &__title {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 2rem;
    font-size: 2.4rem;

    @include tablet {
      font-size: 6rem;
      padding-left: 2rem;
      font-weight: 600;
    }

    @include desktop {
      padding-left: 10rem;
    }
  }
}

.info {
  width: 100%;
  height: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__wrapper {
    @include tablet {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    //  this is for 'About the musicians picture'
    @include desktop {
      padding: 0 18rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3rem;
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-style: bold;
    font-weight: 600;
    margin: 2rem 0;

    // modifying the title 'About the Musicians'
    @include tablet {
      margin: 3.6rem 1.6rem;
      font-size: 3.6rem;
    }

    @include tablet {
      padding-left: 9rem;
    }
  }

  &__bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  &__paragraphs {
    margin-top: 2rem;

    // this is for the bees knees subheader
    &--subheader {
      font-weight: 600;

      @include tablet {
        font-size: 2.4rem;
        margin-top: 3.6rem;
      }
    }

    &--bold {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 600;
    }

    &--large {
      @include tablet {
        width: 48%;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    &--quote {
      @include tablet {
        font-size: 2.2rem;
        line-height: 2.8rem;
      }

      @include desktop {
        width: 75%;
      }
    }
  }

  // make the large paragraphs sit side by side
  &__mainText {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}
.gallery {
  background-color: $mercury;
  @include tablet {
    padding: 1.6rem 0;
  }

  &__title {
    font-size: 2.4rem;
    font-weight: 600;
    margin: 2rem 0;
    padding-left: 2rem;
    padding-top: 2rem;

    @include tablet {
      font-size: 3.6rem;
      padding-left: 3.6rem;
      padding-top: 0;
    }
    @include desktop {
      padding-left: 18rem;
    }
  }

  &__wrapper {
    margin: 0 2rem;
    @include tablet {
      margin: 0 3.6rem;
    }

    @include desktop {
      margin: 0 18rem;
    }
  }

  &__picture {
    @include desktop {
      height: 50rem;
    }
  }

  &__images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__img {
    width: 28rem;
    padding-bottom: 2rem;
    @include tablet {
      // width: 21.5rem;
      width: 31.5%;
      display: flex;
      justify-content: space-around;
    }
  }

  &__heading,
  &__wrapper {
    max-width: 100%;
  }
}
