@use "./variables" as *;
@use "./mixins" as *;

@mixin heroCode {
  // wrapping the hero
  height: 20rem;
  width: 100%;
  background-image: url("../Assets/Images/hero-bio.jpg");

  background-position: center;
  background-size: cover;

  // backround picture for 'shows' page
  &--shows {
    // background-image: url(../../Assets/Images/hero-shows.jpg);

    background: linear-gradient(
        (0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15))
      ),
      url("../Assets/Images/hero-shows.jpg");
      

    background-position: center;
    background-size: cover;
    height: 35rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    @include tablet {
      background-position: center;
      background-size: cover;
    }
  }

  @include tablet {
    height: 45rem;
    background-position: center;
    background-size: cover;
  }
  @include desktop {
    height: 55rem;
  }

  // putting the title and music pic in display flex
  &__titles-pic {
    @include desktop {
      display: flex;
      justify-content: space-evenly;
    }
  }

  &__title {
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 2rem;
    font-size: 2.4rem;

    &--shows {
      font-weight: 600;
      width: 85%;
    }

    @include tablet {
      font-size: 6rem;
      padding-left: 2rem;
      font-weight: 600;
    }

    @include desktop {
      padding-left: 10rem;
      max-width: 1280px;
      margin: 0 auto;
    }
  }

  //  this is for the shows page
  .hero {
    &__wrapper {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      @include desktop {
        width: 55rem;
      }
    }

    // this is for the shows page
    &__title-small {
      color: white;
      font-size: 1.8rem;
      font-weight: 600;
      height: auto;

      @include tablet {
        font-size: 2.6rem;
      }

      @include desktop {
        margin: 0;
        padding: 0 5rem;
      }
    }

    &__title--shows {
      font-size: 3rem;

      @include tablet {
        font-size: 6rem;
        width: 60rem;
      }

      @include desktop {
        padding: 0 5rem;
      }
    }

    // wrapper for the iframe
    &__music {
      @include tablet {
        margin: 0 2rem;
      }
      @include desktop {
        display: flex;
        align-items: flex-end;
      }
    }

    &__music iframe {
      height: 15rem;
      width: 100%;
      padding: 0 2rem;

      @include tablet {
        width: 49rem;
      }
    }
  }
}
