@use "./mixins" as *;
@use "./variables" as *;

@mixin AboutTheMusicians {
  width: 100%;
  height: 40rem;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  //   wrapping the picure and paragraphs underneath
  &__wrapper {
    @include tablet {
      padding-left: 8rem;
      padding-right: 8rem;
    }

    //  this is for 'About the musicians picture'
    @include desktop {
      padding: 0 18rem;
      max-width: 1280px;
      margin: auto;
    }
  }
  

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 1.6rem;
    margin-right: 1.6rem;
    margin-bottom: auto;
    @include tablet {
      margin-bottom: 3.6rem;
    }
  }

  &__image-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-style: bold;
    font-weight: 600;
    margin: 2rem 0;

    // modifying the title 'About the Musicians'
    @include tablet {
      margin: 3.6rem 1.6rem;
      font-size: 3.6rem;
      padding-left: 9rem;

      max-width: 1280px;
      margin: 3.6rem auto;
    }
  }

  //   wrapping the info content
  &__bio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  //   modifing space between each div paragraph
  &__paragraphs {
    margin-top: 2rem;

    // this is for the bees knees subheader
    &--subheader {
      font-weight: 600;

      @include tablet {
        font-size: 2.4rem;
        margin-top: 3.6rem;
      }
    }

    // This if for the paragprah in bold
    &--bold {
      font-size: 1.4rem;
      line-height: 2.4rem;
      font-weight: 600;
    }

    //  the two large paragraphs
    &--large {
      @include tablet {
        width: 48%;
        font-size: 1.4rem;
        line-height: 2rem;
      }
    }

    // Paragraph with quoatation marks
    &--quote {
      @include tablet {
        font-size: 2.2rem;
        line-height: 2.8rem;
      }

      @include desktop {
        width: 75%;
      }
    }
  }

  // make the large paragraphs sit side by side
  &__mainText {
    @include tablet {
      display: flex;
      justify-content: space-between;
    }
  }
}
