@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/hero" as *;

.header {
  @include headerCode;

  //   Adding border bottom for the 'shows' heading
  &__link--shows {
    border-bottom: 3px solid white;
  }

  //   removing the border bottom for 'biography' heading
  &__link--bio {
    border-bottom: none;
  }

  // making the 'shows' in bold as that page is active
  &__h3-shows-page {
    color: white;
    font-weight: 600;
  }

  // making 'bio' a normal font- that page is inactive
  &__h3-bio-shows-page {
    color: $mercury;
    font-weight: normal;
  }
}

.hero {
  @include heroCode;
}

.shows {
  //   height: 50rem;
  // margin: 0 2rem;

  //  this is the whole shows content
  @include desktop {
    display: flex;
    justify-content: space-between;
    width: 50rem;
  }
  @include desktop {
    width: auto;
    justify-content: space-evenly;
    max-width: 1044px;
    margin: auto;
  }

  // this is the shows container
  &__container {
    @include tablet {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
    }
    @include desktop{
      margin-top: 6rem;
    }
  }

  &__title {
    margin: 3rem 3rem;
    font-weight: 600;
    font-size: 3.6rem;

    @include tablet {
      // margin: 3rem 4rem;
      max-width: $tablet-breakpoint;
      padding: 5rem 3rem;
      font-size: 4rem;

      margin: auto;
      // margin: 1044px;
    }

    @include desktop {
      margin: 0;
      // padding-left: 2rem;
      padding-right: 20rem;
    }
  }

  &__article {
    border-bottom: 2px solid $mercury;
    // margin: 2rem 0;

    @include tablet {
      display: flex;
      justify-content: space-around;
    }
  }

  &__article:hover {
    background-color: $Alabaster;
  }

  &__wrapper {
    margin: 0 2rem;
    padding: 0rem 1rem;

    // this is the shows wrapper for the section tag
    @include tablet {
      display: flex;
      width: 70%;
      justify-content: space-around;
    }
  }

  &__smallDiv {
    @include tablet {
      width: 16rem;
      display: flex;
      align-items: center;
      // justify-content: center;
    }
  }

  &__h3 {
    color: silver;
    font-size: 1.4rem;
    font-weight: 600;

    // making all the headers disappear
    @include tablet {
      display: none;
    }
  }
  // this is the common label tag
  &__pTag {
    font-size: 1.8rem;
    // font-weight: 500;
  }
  // this is for the year of each show
  &__year {
    font-size: 1.8rem;
    font-weight: 600;
    color: black;
  }

  &__venue {
    @include tablet {
      margin: 0 2rem;
    }
  }

  &__button-wrapper {
    margin: 2rem 3rem;
  }

  &__button {
    background-color: $BandSite-Black;
    color: white;
    font-size: 2rem;
    line-height: 2rem;
    height: 5rem;
    width: 100%;
    // margin-left: 1rem;
    // padding-right: 5rem;
    border-radius: 0.5rem;

    @include tablet {
      width: 15rem;
    }
  }

  &__topWrapper {
    @include mobile {
      display: none;
    }
    @include tablet {
      display: flex;
      width: 69rem;
      // justify-content: space-around
    }
  }

  // now modifying the top headers 'date, venue and location'
  &__topH3 {
    @include tablet {
      width: 16rem;
      font-size: 1.3rem;
      font-weight: 600;
      color: silver;

      &--venue {
        padding-left: 2rem;
      }
      // &--location{
      //   padding-left: 0.6rem
      // }
    }
  }
}

.footer {
  @include footerCode;
}
