@use "./partials/resets";
@use "./partials/mixins" as *;
@use "./partials/variables" as *;
@use "./partials/fonts" as *;
@use "./partials/header" as *;
@use "./partials/footer" as *;
@use "./partials/hero" as *;

.header {
  @include headerCode;

  //   Adding border bottom for the 'shows' heading
  &__link--shows {
    border-bottom: 3px solid white;
    }

  //   removing the border bottom for 'biography' heading
  &__link--bio {
    border-bottom: none;
  }

// making the 'shows' in bold as that page is active
  &__h3-shows-page{
    color: white;
    font-weight: 600;
  }

  // making 'bio' a normal font- that page is inactive
  &__h3-bio-shows-page{
    color: $mercury;
    font-weight: normal;
    
  }
}

.hero{
  
    @include heroCode;
    

}

.shows {
//   height: 50rem;
}

.footer {
  @include footerCode;
}
